body{
    width: 100%;
    margin: auto;
    font-family: 'Merriweather', serif;
}
header{
    text-align: center;
    width: 1320px;
    margin: auto;
    margin-top: 40px;
    height: 600px;
    border-radius: 16px;
    color: bisque;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
    
}

.newyear{
    margin: auto;
    width: 400px;
    padding-top: 150px;
}

.newyear>p{
    color: antiquewhite;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.celebrate{
    color: antiquewhite;
    font-size: 44px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    line-height: 70px;
}

.offer{
    margin: auto;
    width: 60%;
}

.heading{
    text-align: center;
}

.discount{
    color: rgb(230, 12, 12);
    font-size: 90px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    line-height: normal;
    text-align: center;

}

.categories{
    color: rgb(35, 5, 5);
    font-size: 50px;
    font-weight: 650;
    font-family: 'Times New Roman', Times, serif;
    line-height: normal;
    text-align: center;
}

.holiday{
    color: rgb(242, 13, 13);
    font-size: 25px;
    font-weight: 450;
    font-family: 'Times New Roman', Times, serif;
    line-height: normal;
    text-align: center;
}


.party-banner{
    width: 45%;
    margin: auto;
    
}

.title-welcome{
    color: #FFF;
font-family: 'Times New Roman', Times, serif;
font-size: 60px;
font-weight: 900;
line-height: 90px; 
letter-spacing: 7px;
}

.welcome{
    margin: auto;
    justify-content: space-between;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
    width: 1320px;
    border-radius: 20px;
    height: 500px;
    display: flex;
    margin: auto;
    margin-top: 80px;
}

.details{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 350;
    line-height: 35px; 
    color: rgba(243, 225, 225, 0.8);
}

.party-time{
    background: linear-gradient(180deg, #dea5c4 0%, rgba(7, 2, 17, 0.00) 100%);
   width: 1320px;
   border-radius: 16px;
   height: 482px;
   margin: auto;
   margin-top: 40px;
   
}

/* bonus */

.ellipse img {
    width: 87%;
    padding: 20px;
    height: auto;
    display: block;
    
}

.ellipse{
    overflow: hidden;
    width: 400px; 
    height: 300px; 
    border-radius: 50%;
    border: 10px solid red;

}

.offersoon{
    margin: auto;
    padding-top: 100px;
    width: 1320px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    
    
}

.comsoon{
    width: 397px;
    padding-right: 200px;
}
.greet{
    width: 397px;
    padding-left: 200px;
}

.htitle{
    font-size: 30px;
}

.hbanner{
    margin: auto;
    margin-bottom: 120px;
    width: 1320px;
    height: 660px;
    background-image: url(../resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: space-between;
    
}
.sale2{
    text-align: center;
    width: 600px;
    margin: auto;
    margin-bottom: 110px;
   
}

.sale2 h1>span{
    color: red;
}
.sale2 h1{
    font-size: 55px;
}


.rg75{
    width: 380px;
    height: 380px;
    padding-top: 200px;
    padding-left: 100px;
}

.rg44{
    overflow: auto;
    width: 206px;
    height: 206px;
    overflow: auto;
    padding: 50px 0 40px 200px ;
    
}
.rr1{
    overflow:auto;
    width: 429px;
    height: 432px;
    
    
}
/* bomus end */

.group70{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    margin-right: 128px;
    margin: auto;
    opacity: 1;
}


.party-info{
    padding: 75px;
    margin: auto;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 300px;
    font-weight: 500;
    line-height: 55px;
    text-align: center;
}

.party-info>button{
    color: rgb(228, 244, 244);
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #F00;
    
}

.tomato{
    color: red;
}

.awe{
    width: 1320px;
    margin: auto;
}
.awe-details{
    display: block;
}

.awe-details>h2{
    font-size: 35px;
}
.dolor{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px; 
    width: 45%;
}

.gifts{
    color: red;
}

.img{
    flex-shrink: 0;
    margin: 4px 4px;
    width: 430px;
    height: 450px;
   
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;}

.rec3{
    margin-bottom: 22px;
    box-sizing: border-box;
    background: url(../resources/Rectangle\ 3.png);
    background-repeat: no-repeat;
    background-size: contain;
   

}
.rec4{
    margin-bottom: 22px;
    box-sizing: border-box;
    background: url(../resources/Rectangle\ 4.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.rec5{
    margin-bottom: 22px;
    box-sizing: border-box;
    background: url(../resources/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.rec6{
    margin-bottom: 22px;
    box-sizing: border-box;
    background: url(../resources/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-size: contain;
   
}
.rec7{
    margin-bottom: 22px;
    box-sizing: border-box;
    background: url(../resources/Rectangle\ 7.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.rec8{
    margin-bottom: 22px;
    box-sizing: border-box;
    background: url(../resources/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.subscribe{
    margin: auto;
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 80px;
    margin-bottom: 80px;
}
.sub2{
    width: 650px;
    margin: auto;
}

.sub2 > .img2{
    margin: auto;
    width: 150px;
}
.stitle{
    color: #070211;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.sdetails{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.semail{
    display: flex;
    justify-content: center;
}
#uemail{
    background: #FFF;;
    border: 1px solid #FFF;
    padding-left: 35px;
    width: 648px;
    height: 66pxpx;
    border-radius: 50px 0 0 50px;
    
}
.semail>button{
    background:red;
    border: none;
    color: rgb(238, 184, 184);
    width: 200px;
    height: 70px;
    border-radius: 0px 50px 50px 0px;
    
}

footer{
    width: 100%;
    height: 610px;
    flex-shrink: 0;
    background-color: black;
    color: white;
}


.head{
    display: flex;
    justify-content: space-between;
}
.address{
    margin: 120px 0 0 140px;
}
.contacts{
    margin: 120px 120px 120px 0;
}
.body{
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    margin: auto;
}

.body img{
    margin-right: 12px;
}

.foot{
    display: flex;
    justify-content: space-between;
}
.right{
    margin: 120px 0 0 140px;
}
.unsubscribe{

    margin: 120px 120px 120px 0;
}
